<div class="container">
  <h2>My Lists</h2>

  <table
    class="table table-light table-striped"
  >
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td>
            <%= link_to list.name, list_path(list) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <%= link_to 'Create a new list', new_list_path %>
</div>
